div, body {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }
  
  a {
    color: #7ea3cc;
    text-decoration: none;
  }
    
  a:hover {
    color: #a1bcd9;
  }
  
  sup.new {
    margin-left: 3px;
    font-weight: bold;
    color: darkred;
  }
  
  .landing-header-block {
    top: 0;
    left: 0;
    width: 100%;
    min-width: 700px;
    height: 200px;
    background-color: #263557;
    color: white;
  }
  
  .landing-logo {
    position: absolute;
    left: 64px;
    top: 12px;
  }
  
  .landing-logo img {
      width: 120px;
  }
  
  .landing-company {
    position: absolute;
    top: 6px;
    left: 193px;
    min-width: 300px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    color: #d9c3ad;
    opacity: 0.9;
  }
  
  .landing-header {
    position: absolute;
    top: 60px;
    left: 190px;
    min-width: 300px;
    font-size: 82px;
    line-height: 56px;
    font-weight: 400;
    color: #ebecef;
    opacity: 0.9;
  }
  
  .landing-subheader {
    position: absolute;
    top: 136px;
    left: 195px;
    min-width: 300px;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.6;
    color: #ebecef;
  }
  
  .menu {
    position: absolute;
    top: 170px;
    width: 700px;
  }
  
  .logpadview {
  /*  position: absolute;
    top: 20px;
    left: 600px;
    height: 172px;       */
    margin-top: 10px;
    border: 1px solid black;
  }
  
  .menuitem {
    margin-left: 36px;
    display: inline-block;
  }
  
  .menuitem a {
    color: #a1bcd9;
    text-decoration: none;
  }
  
  .menuitem a:hover {
    color: #ebecef;
  }
  
  
  .landing-page {
    margin: 0 auto;
    position: relative;
    padding-left: 35px;
    padding-right: 15px;
    width: 100%;
    max-width: 1960px;
    min-width: 650px;
  }
  
  .terms-container {
    display: block;
    text-align: justify;
    color: #040508;
    font-size: 14px;
    padding-top: 36px;
    line-height: 22px;
    white-space: pre-wrap;
  }
  
  .main-contents {
    display: flex;
    width: 100%;
  }
  
  .main-column {
    display: inline-block;
    vertical-align: top;
    flex: 1 1 350px;
    min-width: 150px;
    max-width: 550px;
    padding: 10px 16px 10px 10px;
  }
  
  .main-sub-header {
    color: #3688df;
    font-size: 16px;
    margin-top: 12px;
    text-decoration: none;
  }
  
  .main-header {
    color: #07509e;
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px;
  }
  
  .main-section-header {
    color: #07509e;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 24px;
  }
  
  .main-header sup {
    font-weight: 300;
    font-size: 16px;
    color: black;
  }
  
  .main-text {
    text-align: justify;
  }
  
  .main-text td {
    vertical-align: top;
    padding-bottom: 1px;
  } 
  
  .main-text img {
    width: 100%;
  }
  
  .landing-downloads {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }