<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <nav>
        <ul style="position: fixed; z-index: 1000;">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('dataload') }}">Dataload</a></li>
            <li><a href="{{ url_for('firewall') }}">Firewall</a></li>
            <li><a href="{{ url_for('staging') }}">Staging</a></li>
<!--            <li class="navbar-right"><a href="{{ url_for('upload') }}">Upload</a></li>-->
            {% if user %}
            <li class="navbar-right"><a href="{{ url_for('upload') }}">Upload</a></li>
            <li class="navbar-right">
                <a class="link" href="{{ url_for('index') }}">{{ user['email'] }}</a>
            </li>
            <li class="navbar-right">
                <a class="link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="navbar-right">
                <a href="{{ url_for('login') }}">Upload</a>
            </li>
            <li class="navbar-right">
                <a class="link" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="navbar-right">
                <a class="link" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block body %}{% endblock %}

    <div class="footer"
         style="display: flex; align-items: center; justify-content: space-between; margin-top: 20px; width: 100%; margin-bottom: 2px; "
         ;>
        <img src="{{ url_for('static', filename='images/ece-logo.png') }}" alt="UW ECE" style="max-width: 400px;float: left">
        <div style="text-align: center">© 2023 Boeing Team. All rights reserved.</div>
        <img src="{{ url_for('static', filename='images/Boeing_full_logo.svg.png') }}" alt="Boeing"
             style="max-width: 400px;float: right;">
    </div>

</body>
</html>