{% extends 'base.html' %}


{% block head %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style>
   .container {
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }
</style>
{% endblock %}
{% block body %}
<body>
	<div class="container my-5">
	<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading">Error</h4>
		<p>{{ message }}</p>
	</div>
	</div>

</body>

{% endblock %}