{% extends 'base.html' %}

{% block head %}
    <title>Firewall</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js"></script>
{% endblock %}

{% block body %}
	<div class="success">
	<p>File uploaded successfully</p>
	<p>File Name: {{name_firewall}}</p>
	<p>Num of logs: {{log_count}}</p>

	</div>
	<body>
        <div id="container">
            <div id="other-chart" style="width: 50%; height: 400px; float: left;"></div>
            <div style="width: 50%; float: left;"> Features and their frequencies</div>
            <div style="width: 50%; float: left;"> high freq: <br>{{ feature_count['Other']['high'][0] }} <br> {{ feature_count['Other']['high'][1] }} </div>
            <div style="width: 50%; float: left;"> low freq: <br>{{ feature_count['Other']['low'][0] }} <br> {{ feature_count['Other']['low'][1] }} </div>
            <div style="width: 100%; height: 100%; float: right; position: static;"> {{ other_analysis | safe }}</div>
        </div>

        <script type="text/javascript">
            var json_data = null;
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{{ url_for('static', filename='firewall.json') }}', false);
            xhr.onload = function() {
            if (xhr.status === 200) {
            json_data = JSON.parse(xhr.responseText);
        }
        };
            xhr.send();

            var otherData = [];
            var otherLabels = [];
            for (var k in json_data.Other) {
            otherLabels.push(k);
            otherData.push(json_data.Other[k]);
        }
            var otherChart = echarts.init(document.getElementById('other-chart'));
            var otherOption = {
            title: {
            text: 'Firewall Logs'
        },
            tooltip: {
            trigger: 'axis',
            axisPointer: {
            type: 'shadow'
        }
        },
            xAxis: {
            type: 'category',
            name: 'Clusters',
            nameTextStyle: {
                color: '#333',
                fontSize: 16,
            },
            data: otherLabels
        },
            yAxis: {
            type: 'value',
            name: 'Count',
            nameTextStyle: {
                color: '#333',
                fontSize: 16,
            },
        },
            series: [{
            data: otherData,
            type: 'bar',
                itemStyle: {
                    color:  ['#609fa8']
                }
        }]
        };
            otherChart.setOption(otherOption);
        </script>

        <div style="width: 100%; height: 100%; float: left; position: static;">{{plot_firewall | safe}}</div>
{% endblock %}